@charset "UTF-8";



/* Telas 600px - 768px */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{

    /* Paleta de cores */
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
}

main{

    width: 100vw;
    height: 100vh;

   
   

    position: relative;

}

article{
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#img{
    background: black url(../img/marvin-meyer-SYTO3xs06fU-unsplash.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    display: block;
}

#form{
    padding: 10px;
    display: block;
   
}

h1{
    text-align: center;
    margin-top: 15px;
}

#texto{
    text-align: center;
    text-align: justify;
    font-size: 0.8em;
}

.input{
    background-color: var(--cor2);
    margin: 5px 0px;
    border-radius: 5px;
}

.input > label{
    float: right;
}

a{
    display: block;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    color: var(--cor1);
    padding: 5px;
}

#enviar{
    display: block;
    color: white;
    font-size: 1em;
    background-color: var(--cor1);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

#enviar:hover{
    background-color: white;
    color: var(--cor1);
    border: 2px solid var(--cor1);

    transition: 0.5s;
}

#esqueci-a-senha{
   display: block;
   width: 100%;
   height: 40px;
   border: 2px  solid var(--cor1); 
   margin-top: 10px;
}

#esqueci-a-senha:hover{
    background-color: var(--cor1);
    color: white;

    transition: 0.5s;
}

#esqueci-a-senha > span{
    font-size: 1em;
    vertical-align: text-bottom;

}