@charset "UTF-8";

/* Telas 768px - 992px */

/*Telas pequenas (celulares largos ou tablets 600px até 768px)

- Telas medias (tablets 768px até 992px)

- Telas largas (Laptops/desktops 992px 1200px)

- Telas muito largas (tv's acima de 1200px)*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    


body, html{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}

article{
    width: 90vw;
}

#img{
    width: 30%;
    height: 100vh;
    float: left;
}

#form{
    float: right;
    width: 70%;
}

}

@media screen and (min-width: 992px){

    body, html{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    article{
        width: 950px;
    }

    #img{
        float: right;
        width: 50%;
        height: 100%;
    }

    #form{
        float: left;
        width: 50%;
    }

    h1{
        font-size: 2em;
    }

    #texto{
        font-size: 1.2em;
    }

}